body{
  margin-inline: 0;
  width: 100%;
}
.banner{
  height: 100vmin;
  background: linear-gradient(#0000001c, transparent, #0000001c), url("assets/Daycore6.jpg") 50%/ cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1000px){
  .banner{
    background-position-y: 90px;
  }
  .p{
    font-size: larger;
  }
}
.overlay {
  position: absolute;
  color: white;
  text-shadow: 1px 1px black;
  font-size: 1.5rem;
  padding: 5px 10px; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



figure{
  display: flex;
  justify-content: baseline;
  align-items: center;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 2;
  font-weight: 500;
  font-size: x-large;
  
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 2;
}
h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 1000px){
  .imgleft{
    width: 70%;
    min-width:300px;
  }
  .banner{
    height: 200vmin;
    background: linear-gradient(#0000001c, transparent, #0000001c), url("assets/collage.JPG") 50%/ cover;
  }
}

p{
  display: flex;
  align-self: center;
  justify-self: center;
}
.gi{
  margin-inline: 2%;
  max-width:100%;
  margin-bottom: 0%;
  border-radius: 10px;
  min-width: 310px;
  
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  margin: 5%;
}
.gridItem{
  display: inline-table;
  margin-block: 20px;
}
.gridItem img {
  max-width: 100%;
  max-height: 100%;
  vertical-align:auto;
}
.Title{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}



@media screen and (min-width: 1100px){
  .one{
  }
  .two{
    margin-top: 200px;
  }
  .three{
    margin-top: 200px;
    
  }
  .four{
    margin: 20px;
  }
  .five{
  }
  .six{
  }
  .seven{
    order: 8;
  }
  .eight{
    order: 7;
    margin-top: 200px;
  }
  
}
@media screen and (max-width: 1100px){
  .grid {
    grid-template-columns: 1fr;
  }
  .gridItem{
    display: flex;
    align-items: center;
    line-height: 2;
  }
  .one {
    order: 1;
  }

  .two {
    order: 2;
  }

  .three {
    order: 4;
  }

  .four {
    order: 3;
  }

  .five {
    order: 5;
  }

  .six {
    order: 6;
  }
  .seven{
    order: 7;
  }
  .eight{
    order: 8;
  }

}
@media screen and (min-width: 1100px){
.right{
  position: relative;
  width: 50px;
  left: 80%;
  bottom: 80px;
  cursor: pointer;
}
.left{
  position: relative;
  width: 50px;
  left: 20%;
  bottom: 80px;
  cursor: pointer;
}
}
@media screen and (max-width: 1100px){
  .right{
    position: relative;
    width: 50px;
    left: -20%;
    top: 150px;
    cursor: pointer;
  }
  .left{
    position: relative;
    width: 50px;
    left: -80%;
    top: 150px;
    cursor: pointer;
  }
  .r1.mobile{
    left: -40%;
  }
  .l1.mobile{
    left: -100%;
  }
  .r2{
    left: -30%;
  }
  .l2{
    left: -80%;
  }
  .right.mobile{
    width: 60px;
  }
  .left.mobile{
    width: 60px;
  }
  
}


/*slide show container*/
.overlay2{
  position: absolute;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.overlay2:hover{
  color: white;
  font-size:x-large;
  transition:.5s;
  text-shadow:0px 0px 2em black;
}

/*slide*/


