body{
  margin-inline: 0;
}
.banner{
  height: 100vmin;
  background: linear-gradient(#0000001c, transparent, #0000001c), url(assets/Day\ course\ 7_.jpg) 50%/ cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1000px){
  .banner{
    background-position-y: 90px;
  }
  .p{
    font-size: larger;
  }
}
.overlay {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  padding: 5px 10px; 
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.figure{
  display: flex;
  justify-content: baseline;
  align-items: center;
}

p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 2;
  font-weight: 500;
  font-size: x-large;
}

h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 2;
}
h3{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 2;
}
@media screen and (max-width: 1000px){
  .imgleft{
    width: 70%;
  }
  
}
.imgleft{
  float: left;
  margin-inline: 2%;
  background-color: blue;
  width: 100%;
  margin-bottom: 0%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  margin: 5%;
}
.gridItem{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Title{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
@media (min-width: 1100px){
  .seven{
    order: 8;
  }
  .eight{
    order: 7;
  }
}
@media (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .gridItem{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
  }
  .one {
    order: 1;
  }

  .two {
    order: 2;
  }

  .three {
    order: 4;
  }

  .four {
    order: 3;
  }

  .five {
    order: 5;
  }

  .six {
    order: 6;
  }
  .seven{
    order: 7;
  }
  .eight{
    order: 8;
  }
}
/*slide show container*/
.overlay2{
  position: absolute;
  color: rgba(255, 255, 255, 0);
  cursor: pointer;
  height: 50%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.overlay2:hover{
  color: white;
  font-size:x-large;
  transition:.5s;
  text-shadow:0px 0px 2em black;
}

/*slide*/
.gi{
  display: block;
  max-width: 80%;
  max-height: 600px;
}
.gi:hover{

}
img{
  border-radius: 10px;
}