
.banner{
  
	width: 100%; height: 80vmin;
	min-height: 15em;
	background: linear-gradient(#00000093, transparent, #000000b0), var(--img) 50%/ cover;
	background-attachment:fixed;
	background-blend-mode: multiply;
	--img: url(https://images.pexels.com/photos/17823866/pexels-photo-17823866/free-photo-of-woman-at-her-birthday-party.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
}
.banner2{
	width: 100%; height: 80vmin;
	min-height: 15em;
	background: linear-gradient(#00000093, transparent, #000000b0), var(--img) 50%/ cover;
	background-attachment:fixed;
	background-blend-mode: multiply;
	--img: url(https://th.bing.com/th/id/R.c9de1452b56b9f69e79f4bf21475f799?rik=j1NGFx0Trq6FUA&pid=ImgRaw&r=0);
}
.text{
  padding: 5%;
  margin: 5%;
  background-color: rgb(255, 254, 254);
  position:relative;
}
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align:center;
  margin-top: 10%;
}
h2{

}
h4{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align:center;
  margin-bottom: 5%;
}
p{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  line-height: 2;
}
.overlay{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:white;
  padding: 20px;
  border-radius:5px;
  text-align: center;
  transition: transform 0.2s ease;
  background-color: rgba(0, 0, 0, 0.685);
}


/*menu bars*/

.menu {
    display: inline-block;
    cursor: pointer;
    margin-left:10px;
    align-items: right;
    position: absolute;
    top:30px;
    right: 30px;
  }
  .menu:hover{
    transition: transform 0.2s ease;
    transform: translateY(5px);
}
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  /* Rotate first bar */
  .change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
  }
  
  /* Fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* Rotate last bar */
  .change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
  }

  /*Ballon hulk img*/
.hero{
  max-width: 800px;
  float: right;
  padding-left: 5%;
}
@media screen and (max-width:1500px){
  .hero{
    width: 50%;
  }
  .slides{
    width:50%;
  }
  .animals{
    width: 50%;
  }
}

.slides{
  margin:10% auto;
  max-width:800px;
  border-radius: 20px;
}
.animals{
  max-width: 1000px;
  margin:5% auto;
  border-radius: 20px;
  display:block;
}
