body{
  margin: 0;
}
.container.mobile{
  margin:0px;
  padding: 0px;
  margin-top: 100px;
}
@media screen and (max-width:1000px){
    .cart{
        width: 90%;
        max-height: 500px;
        border-radius: 10px;
    }
    .column{
        display: inline-table;
        border-radius: 20px;
        width: 60%;
        margin: 15px;
        padding: 25px;
        opacity: 90%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}
.greeting{
  position: absolute;
  left: 17%;
  top: -20px;
  font-stretch: expanded;
}
@media screen and (max-width: 1200px){
  .greeting{
    visibility: hidden;
  }
}
.intro{
  position: sticky;
  top: 15px;
  z-index: 1;
  background: -webkit-linear-gradient(#e30bff, #ff8800);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
 
  font-size: xxx-large;
}
.intro.mobile{
    top: 50px;
    font-size: x-large;
    color: white;
    text-shadow: none;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    margin: 10%;
}
.slides{
    margin:5%;
    max-height:40%;
    border-radius: 10px;
  }
  .cart:hover{
    transform: scale(105%);
    transition: .5s;
  }
.product2{
    display: inline-block;
}
  .underlay{
    position: relative;
    color: black;
    cursor: pointer;
  }
  .right{
    position: relative;
    left: 20%;
    top: 55%;
    width: 50px;
    cursor: pointer;
  }
  .left{
    position: relative;
    right: 20%;
    top: 55%;
    width: 50px;
    cursor: pointer;
  }
  .left:hover{
    color: greenyellow;
    transition: .5s;
  }
  .right:hover{
    color: greenyellow;
    transition: .5s;
  }
@media screen and (min-width:1000px){
    .cart{
        width: 90%;
    }
    .column{
        display: inline-table;
        border-radius: 20px;
        width: 30%;
        margin: 15px;
        padding: 25px;
        opacity: 90%;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
        cursor: pointer;
    }
}


.row:after{
    content:'';
    display: table;
    clear: both;
}

.column:hover{
    transform: translateY(2px);
    transition: .2s;
    opacity: 100%;
    background-color: rgba(0, 255, 13, 0.562);

}