body{
  margin-inline: 0;
}
.banner{
  height: 90vmin;
  background: linear-gradient(#0000001c, transparent, #0000001c), url(assets/header2.png) 50%/ cover;
  background-attachment: fixed;
  background-blend-mode: multiply;
  top: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.overlay{
  font-size: xx-large;
  color:white;
}

p{
  margin-top: 5%;
  margin-left: 5%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h3{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
@media screen and (max-width: 1000px){
  .left{
    width: 70%;
    
  }
  
}
.left{
  float: left;
  padding-left: 5%;
  margin-inline: 2%;
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: auto;
  margin: 5%;
}
.gridItem{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Title{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

@media (max-width: 1100px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .gridItem{
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2;
  }
}
/*slide show container*/

/*slide*/
.gi{
  display: block;
  max-width: 120%;
}
