body{
  margin-inline: 0;
}
@media screen and (min-width: 1500px){
  .text{
    margin-inline: 10%;
  }
}
  
.banner {
  display: flex;
  margin-top: 90px;
  width: 100vw; 
  height: 57vh;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#0000003f, transparent, #000000e3), 
              url(assets/header.png) center/ cover;
  background-attachment: fixed;
  background-position: center 90px; /* Moves background image down by 90px */
}
.banner2{
	width: 100%; height: 80vmin;
	min-height: 15em;
	background: linear-gradient(#00000017, transparent, #00000015), url(assets/couple.JPEG) center/cover;
	background-attachment:fixed;
}

@media screen and (min-width: 1000px){
  .banner{
    background: linear-gradient(#0000003f, transparent, #0000003d), 
    url(assets/header3.png) center/ cover;
    background-attachment: fixed;
    height: 80vh;
    background-position: center -200px;
    background-size: 200vh;
  }
  .banner2{
    background: linear-gradient(#00000017, transparent, #00000015), url(assets/couple+Bride.jpg) 50% 20%/cover;
    background-attachment: fixed;
    height: 100vh;
    background-position: center -150px;
    background-size: 100%;
  }
  @media screen and (max-height: 800px){
    .banner{
      background-position: center -100px;
    }
    
  }
  @media screen and (max-width: 1500px){
    .banner2{
      background-size: 180vh;
    }
  }
  .overlay{
    font-size: xx-large;
  }
}
@media screen and (max-width: 1000px){
  .banner{
    background-size: 100vh;
  }

}

@media screen and (min-width: 1200px){
  .grid {
    display: grid;
    max-width:1500px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, .4fr);
    height: auto;
    width: auto;
    margin: auto;
  }
}
.gridItem{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.text{
  padding: 50px;
  margin-block: 50px;
  background-color: rgb(255, 255, 255);
}
h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align:center;
  margin: 10%;
}
h2{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin: 5%;
}

h4{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align:center;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  line-height: 2;
}
.overlay{
  color:rgba(248, 248, 248, 0.966);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size:xxx-large;
  text-shadow: 2px 2px #000000;
}

  /*Ballon hulk img*/
.hero{
  max-width: 800px;
  float: right;
  padding-left: 5%;
}
.slideshow{
  display: flex;
  align-items: center;
  
}

.animals{
  max-width: 1000px;
  width: 90%;
  margin:5%;
  border-radius: 10px;
}
